<div class="footer">
  © 2014 JianZong - find me on:
  <a href="https://www.quora.com/Hao-Jianzong" title="I love Quora">quora</a> | 
  <a href="http://www.twitter.com/ggtarzan" title="Sleeps and wakes up with me">twitter</a> | 
  <a href="https://github.com/haojianzong" title="Getting start">github</a> | 
  <a href="http://www.zhihu.com/people/hao-jian-zong" title="Check my answers
    on zhihu">zhihu</a> | 
    <!-- Start of StatCounter Code for Default Guide -->
    <script type="text/javascript">
    var sc_project=10135136; 
    var sc_invisible=0; 
    var sc_security="52c753c5"; 
    var sc_text=2; 
    var scJsHost = (("https:" == document.location.protocol) ?
    "https://secure." : "http://www.");
    document.write("<sc"+"ript type='text/javascript' src='" +
    scJsHost+
    "statcounter.com/counter/counter.js'></"+"script>");
    </script>
    <noscript><div class="statcounter"><a title="website
    statistics" href="http://statcounter.com/"
    target="_blank"><img class="statcounter"
    src="http://c.statcounter.com/10135136/0/52c753c5/0/"
    alt="website statistics"></a></div></noscript>
    <!-- End of StatCounter Code for Default Guide -->
</div>

